@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 39 45% 93%;
    --foreground: 12 29% 23%;

    --card: 0 0% 100%;
    --card-foreground: 12 29% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 12 29% 23%;

    --primary: 39 57% 59%;
    --primary-foreground: 12 29% 23%;

    --secondary: 33 29% 67%;
    --secondary-foreground: 12 29% 23%;

    --muted: 39 30% 85%;
    --muted-foreground: 12 15% 45%;

    --accent: 33 29% 67%;
    --accent-foreground: 12 29% 23%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 39 45% 93%;

    --border: 12 15% 85%;
    --input: 12 15% 85%;
    --ring: 39 57% 59%;

    --radius: 0.5rem;

    --hero-overlay: 12 29% 23%;
  }

  .dark {
    --background: 15 36% 10%;
    --foreground: 39 45% 93%;

    --card: 15 36% 10%;
    --card-foreground: 39 45% 93%;

    --popover: 15 36% 10%;
    --popover-foreground: 39 45% 93%;

    --primary: 39 57% 59%;
    --primary-foreground: 12 29% 23%;

    --secondary: 33 29% 67%;
    --secondary-foreground: 15 36% 10%;

    --muted: 12 20% 20%;
    --muted-foreground: 39 30% 70%;

    --accent: 33 29% 67%;
    --accent-foreground: 15 36% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 45% 93%;

    --border: 12 20% 20%;
    --input: 12 20% 20%;
    --ring: 39 57% 59%;

    --hero-overlay: 12 29% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
